<% provide(:title, 'home') %>
<div class="center hero-unit">
  <h2>Welcome Login</h2>
 
  <div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <div class="clear"> </div>
      
      <%= f.submit "Sign in", class: "btn btn-small btn-primary" %> <p>New user?<%= link_to "Sign up now!", register_path%></p>
       
    <% end %>
   
  </div>
   
  
</div>
</div>







