<% provide(:title, 'invite friend') %>

<div class="center hero-unit">
 
  
<%= form_tag invite_user_path(@user), :method =>'get' , :id => "add-friend" do %>
 <p>Search friends using email : </p> <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<%= render 'shared/user_list' %> 

<%= @error_msg %>

 <br /> <%= link_to "Go to ur profile", current_user %>
         
</div>

