<% provide(:title, 'show users') %>

<div class="center hero-unit padding-less">     

  <% if signed_in? %>
<%= link_to "Sign out",  signout_path, method: "delete" ,class: "btn btn-small btn-primary pull-right " %>
<h2 class="font-blue-color"> Welcome <strong><%= @user.name %></strong></h2>   
<h4>Search new friends and Compose new Post it will be visible to you and your friends. <br />If you are first time to this app make sure you post some comments only then you can view and share post with your friends. </h4>
<div class="clear"></div>
  <div class="row">
    <aside class="span4 margin-less">
     
      
      <section>
        <%= form_tag @user, :method =>'get' , :id => "add-friend" , remote: "true" do  %>
 <p>Search friends using email : </p> 
 <div class="clear"></div>
 <%= text_field_tag :search, params[:search], placeholder: "Search Users", :style => 'width: 250px' %>
  <%= button_tag( :class => "btn btn-small btn-primary inline") do %>
   <i class="icon-search icon-white"></i>
<% end %>
<% end %>
<%= render 'shared/user_list' %> 
      </section>
    </aside>
    <aside class="span8 margin-less border-left padding-less">
    <section>
        <%= render 'shared/post_form' %>
      </section>
    <% if @user.posts.any? %>
      <h4>Total posts by you (<%= @user.posts.count %>)</h4>
      <ol class="posts">
        <%= render 'shared/feed' %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  
    </aside>
  </div>


 



 <!--<%= link_to "search friends and Send invitation", invite_user_path(@user) %> -->

 
 

 
          <% end %>
        </div>
</div>

